/* ----- REBOOT ----- */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
	color: #000;
	background-color: transparent;
	font-family: unset;
}

a {
	text-decoration: none;
	color: unset;
}

ul {
	list-style-type: none;
}

/* --------------- /REBOOT --------------- */

/* --------------- PAGE STYLING --------------- */

:root {
	--emerald-050: hsl(152, 81%, 96%);
	--emerald-100: hsl(149, 80%, 90%);
	--emerald-200: hsl(152, 76%, 80%);
	--emerald-300: hsl(156, 72%, 67%);
	--emerald-400: hsl(158, 64%, 52%);
	--emerald-500: hsl(160, 84%, 39%);
	--emerald-600: hsl(161, 94%, 30%);
	--emerald-700: hsl(163, 94%, 24%);
	--emerald-800: hsl(163, 88%, 20%);
	--emerald-900: hsl(144, 61%, 20%);
	--emerald-950: hsl(145, 80%, 10%);

	--slate-050: #f8fafc;
	--slate-100: #f1f5f9;
	--slate-200: #e2e8f0;
	--slate-300: #cbd5e1;
	--slate-400: #94a3b8;
	--slate-500: #64748b;
	--slate-600: #475569;
	--slate-700: #334155;
	--slate-800: #1e293b;
	--slate-900: #0f172a;
	--slate-950: #020617;

	--main-color: var(--emerald-500);
	--accent-color-1: hsl(160, 84%, 43%);
	--accent-color-2: var(--emerald-600);
	
	--em-text-color-light: var(--emerald-050);
	--em-text-color-light-hover: var(--emerald-950);
	--em-text-color-dark: var(--emerald-950);
	--em-text-color-dark-hover: var(--emerald-050);

	--slate-text-color-light: var(--slate-050);
	--slate-text-color-light-hover: var(--slate-950);
	--slate-text-color-dark: var(--slate-950);
	--slate-text-color-dark-hover: var(--slate-050);
}

body {
	background-color: var(--slate-700);
}

.wrapper {
	display: grid;
	min-height: 100vh;
	grid-template: 145px 1fr / 70px 1fr;
}

.icon {
	display: inline;
	--icon-dimensions: 36px;
	padding: 6px;
	border-radius: calc(var(--icon-dimensions) / 3);
	height: var(--icon-dimensions);
	width: var(--icon-dimensions);
	transition: 0.2s;
}

.icon:hover {
	cursor: pointer;
	transform: scale(1.1);
	background-image: radial-gradient(var(--emerald-100), transparent 80%);
}

/* --------------- Header --------------- */

header {
	grid-column: 2 / -1;
	padding: 10px 50px;
	z-index: 1;

	display: flex;
	flex-direction: column;
	justify-content: space-around;

	background-color: var(--slate-050);
	color: var(--slate-text-color-dark);
	box-shadow: 0 0 10px #000000;
}

header>div {
	display: flex;
	align-items: center;
	gap: clamp(10px, 1rem, 1.5rem);
}

header input[type="search"] {
	flex: 1;
	margin-right: 15%;
	height: 2rem;
	padding: 5px 10px;

	appearance: none;
	border: none;
	border-radius: 15px;
	background-color: var(--slate-300);
}

.prof-pic {
	--prof-pic-radius: 60px;
	height: var(--prof-pic-radius);
	width: var(--prof-pic-radius);
	border-radius: var(--prof-pic-radius);
	background-size: cover;
}

.prof-pic.current-user {
	background-image: url(./images/headshot-spain-extra-small.jpg);
}

.prof-pic.user1 {
	background-image: url(https://picsum.photos/id/56/200);
}

.prof-pic.user2 {
	background-image: url(https://picsum.photos/id/64/200);
}

.prof-pic.user3 {
	background-image: url(https://picsum.photos/id/177/200);
	background-position: -21px -38px;
    background-size: 93px;
}

header .top-line .prof-pic,
.trending .prof-pic {
	--prof-pic-radius: 50px;
}

header .greeting {
	font-size: 0.8rem;
	font-weight: 600;
	margin-bottom: 5px;
}

header .username,
header .user-handle {
	font-weight: 600;
	font-size: 1.4rem;
}

header .top-line .username {
	font-size: 1rem;
}

header .bottom-line button {
	--button-radius: 20px;
	width: 90px;
	padding: calc(0.5 * var(--button-radius)) var(--button-radius);

	background-color: var(--main-color);
	color: var(--em-text-color-light);
	font-weight: 500;
	border-radius: var(--button-radius);
	border: none;
	transition: 0.05s;
}

header .bottom-line button:first-of-type {
	margin-left: auto;
}

header .bottom-line button:hover {
	transform: scale(1.02);
	background-color: var(--accent-color-2);
	box-shadow: inset 0 0 10px var(--emerald-700);
	cursor: pointer;
}

/* --------------- /Header --------------- */

/* --------------- Sidebar --------------- */

.sidebar {
	grid-row: 1 / -1;
	padding: 20px 10px;
	z-index: 2;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;

	background-color: var(--main-color);
	color: var(--em-text-color-light);
	transition: 0.5s;
}

.sidebar:hover {
	width: 240px;

	align-items: start;
	padding-left: 30px;

	box-shadow: 5px 0 10px #0000005a;
}

.sidebar .brand {
	font-size: 1.5rem;
}

.sidebar> .nav-item:nth-of-type(2) {
	margin-top: 4rem;
}

.sidebar> .nav-item:nth-last-of-type(3) {
	margin-top: 4rem;
}

.sidebar .nav-item {
	font-size: 1.2rem;
	font-weight: 600;
	transition: 0.2s;
}

.sidebar .nav-item:hover,
.sidebar .brand:hover {
	transform: scale(1.05) translateY(-1px);
	color: var(--em-text-color-light-hover);
}

.sidebar a {
	display: flex;
	align-items: center;
}

.sidebar .brand a {
	align-items: end;
}

.sidebar .icon {
	--icon-dimensions: 30px;
	padding: 0;
	border-radius: unset;
	
	fill: currentColor;
	transition: unset;
}

.sidebar .icon:hover {
	background-image: unset;
}

.sidebar .brand {
	font-size: 1.5rem;
	color: white;
}

.sidebar .brand:hover,
.sidebar .brand .icon:hover {
	transform: none;
}

.sidebar .brand .icon {
	--icon-dimensions: 40px;
}

/* --------------- /Sidebar --------------- */

/* --------------- Main --------------- */

main {
	display: grid;
	grid-template-columns: 2.5fr 1fr;
	grid-template-rows: 1fr 1fr;
	padding: 1.3rem;
	gap: 2rem 1.5rem;
}

main>section {
	display: grid;
	grid-template-rows: 20px 1fr;
	gap: 8px;
}

main section .section-header {
	font-size: 1.1rem;
	font-weight: 600;
	color: var(--slate-text-color-light);
}

main .projects {
	display: grid;
	grid-row: span 2;

}

.projects .container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 1.5rem;
}

main .card {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 2px 2px 3px var(--slate-500);
	transition: 0.2s;
}

main .card:hover {
	box-shadow: 4px 4px 5px var(--accent-color-2);
}

main .card p {
	color: grey;
}

.projects .card {
	display: flex;
	flex-direction: column;
	padding: 1.5rem 7% 2rem;
	background-image: linear-gradient(to right, var(--emerald-400) 2.1%, var(--slate-100) 2.1%);
}

.projects .card .card-header {
	font-weight: 500;
	color: var(--slate-text-color-dark)
}

.projects .card p {
	margin-top: 5px;
	font-size: 0.8rem;
}

.projects .card .icons {
	margin-top: auto;
	align-self: end;
}

main :not(.projects) .container {
	flex-direction: column;
	display: flex;
}

.announcements .card {
	padding: 1.4rem;
	gap: 25px;
}

.announcements .card .title {
	font-size: 0.8rem;
	font-weight: 600;
}

.announcements .card p {
	margin-top: 3px;
	font-size: 0.7rem;
}

.announcements hr {
	border-top: 1px solid #bfc3ca;
}

.trending .card {
	padding: 1.4rem;
	justify-content: space-between;
}

.trending .item {
	display: grid;
	grid-template: 1fr 1fr / auto 1fr;
	gap: 2px 10px;
}

.trending .prof-pic {
	grid-row: span 2;
}

.trending .user-handle {
	align-self: end;
	font-size: 0.9rem;
}

.trending .recent-project {
	align-self: start;
	font-size: 0.8rem;
}

/* --------------- /Main --------------- */

/* --------------- /PAGE STYLING --------------- */